.image-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.trigger-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.model-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.button-icon {
  align-self: flex-end;
}
